#pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: var(--size-2);
	margin: var(--size-2);
}

#pagination ol {
	display: flex;
	gap: var(--size-3);
	list-style-type: "";
	padding: 0;
	margin: 0 var(--size-3);
}

#pagination li { padding: 0; }

#pagination:has(li:only-child),
#pagination:has(li:only-child) + * {
	display: none;
}

#pagination svg {
	width: 1.5em;
	height: 1.5em;
}

#pagination-info {
	text-align: center;
	padding: var(--size-1) var(--size-2);
}

@media (max-width: 768px) {
	.pagination-link-text { display: none; }
}
