#post-contents {
	line-height: var(--size-7);
	margin-inline: auto;
	max-width: var(--max-width);
	padding-inline: var(--size-5);
	width: 100%;
}

#post-contents :is(p, ul, ol) {
	font-weight: 450;
	margin-block: var(--size-3);
}

#post-contents p > :is(img, picture, figure):only-child, #post-contents iframe {
	margin-inline: auto;
	max-width: var(--size-15);
	width: 100%;
}

#post-contents :is(h2, h3, h4, h5, h6) {
	color: var(--title-color);
	text-shadow: var(--size-1) var(--size-1) var(--size-1) var(--tjs-dark-bg);
}

#post-contents h2 { font-size: var(--font-size-5); }
#post-contents h3 { font-size: var(--font-size-4); }
#post-contents h4 { font-size: var(--font-size-3); }
#post-contents h5 { font-size: var(--font-size-2); }
#post-contents h6 { font-size: var(--font-size-1); }

#post-contents :where(:not(pre) > code) {
	padding-block: calc(var(--size-1) * 0.5);
	padding-inline: var(--size-1);
	white-space: break-spaces;
	word-break: break-word;
}

#post-license {
	padding: var(--size-1) var(--size-3);
	text-align: center;
}

#author-cards-wrapper {
	display: flex;
	flex-direction: column;
}

#related-posts-wrapper li {
	margin: 0;
	padding: 0;
}
