---
import { Icon } from 'astro-icon/components';

import './styles.css';
---
<script src="./script.ts"></script>

<div
	id="pwa-toast"
	role="alert"
	aria-labelledby="toast-message"
	aria-live="polite"
>
	<div>
		<span id="toast-message"></span>
	</div>
	<button id="pwa-refresh" type="button" aria-label="Reload page">
		<Icon name="uil:refresh" title="Reload icon of two arrows forming a circle." />
	</button>
	<button id="pwa-close" type="button" aria-label="Close notification">
		<Icon name="uil:check" title="Close &quot;X&quot; icon." />
	</button>
</div>
