#pwa-toast {
	align-items: center;
	background-color: var(--gray-12);
	border-radius: var(--radius-3);
	display: flex;
	gap: var(--size-2);
	inset-block-end: 0;
	inset-inline: 0;
	justify-content: space-between;
	margin: var(--size-2);
	padding: var(--size-2) var(--size-3);
	position: fixed;
	visibility: hidden;
	width: clamp(320px, 100% - var(--size-2) * 2, var(--max-width));
	z-index: calc(1 * infinity);
}

#pwa-toast:is([data-offline], [data-refresh]) { visibility: visible; }

#pwa-toast div {
	flex-basis: min-content;
	flex-grow: 1;
}

#pwa-toast button {
	display: none;
	padding: var(--size-1);
	place-items: center;
}

#pwa-toast button svg {
	aspect-ratio: var(--ratio-square);
	height: 100%;
	pointer-events: none;
	width: 100%;
}

#pwa-toast[data-offline] #pwa-close { display: grid; }

#pwa-toast[data-refresh] #pwa-refresh { display: grid; }
