---
import { getCollection } from 'astro:content';

import AuthorCard from '../../components/AuthorCard/index.astro';
import PageHeader from '../../components/PageHeader/index.astro';
import InternalPageLayout from '../../layouts/InternalPage/index.astro';

import '../../styles/authors.css';

const authors = await getCollection('authors');

const BLOG_URL = Astro.site?.href;
---
<InternalPageLayout
	htmlTitle={['Authors', 'TorontoJS Blog']}
	title="TorontoJS Blog Authors"
	description="TorontoJS Blog Authors"
	url={`${BLOG_URL}authors`}
	tags={['development', 'javascript', 'toronto', 'community', 'blog']}
	hasFeed={true}
	pageSchema="ItemList"
>
	<meta itemprop="name" content="TorontoJS Blog Authors" />
	<link itemprop="itemListOrder" href="https://schema.org/ItemListUnordered" />
	<meta itemprop="numberOfItems" content={authors.length.toString()} />

	<PageHeader slot="header">
		TorontoJS Blog Authors
	</PageHeader>

	<div id="contents">
		<ul id="author-list">
			{
				authors.map(({ slug }) => (
					<li itemprop="itemListElement">
						<AuthorCard author={slug} />
					</li>
				))
			}
		</ul>
	</div>
</InternalPageLayout>
