#nav-links {
	gap: var(--size-2);
	align-items: center;
	list-style: none;
	display: flex;
	padding: var(--size-3)
}

#nav-links a {
	color: white;
}

#logo-rounded {
	border-radius: var(--size-2);
}

@media (max-width: 31.25rem) {
	#nav-links {
		flex-direction: column;
	}
}
