@import 'open-props/style';
@import 'open-props/normalize';
@import url('./variables.css');

:root { font-family: var(--font-system-ui); }

:not(:defined) { display: none; }

html, body {
	box-sizing: border-box;
	font-size: var(--body-text);
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

*, *::after, *::before {
	box-sizing: inherit;
	font-family: inherit;
}

*:has(> svg) {
	align-items: center;
	display: inline-flex;
	gap: 0.3em;
	overflow-wrap: break-word;
	word-break: break-word;
}

*:has(> svg) svg {
	min-height: 1em;
	min-width: 1em;
}

main { flex-grow: 1; }

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	width: 100%;
}

nav ul > li { padding: 0; }

iframe {
	aspect-ratio: var(--ratio-landscape);
	border: none;
	display: block;
	height: auto;
	margin-inline: auto;
	max-height: 100%;
	width: 100%;
}

a {
	overflow-wrap: break-word;
	text-decoration-color: currentcolor;
}

h1, h2, h3, h4, h5, h6, p, dt, li, dd, blockquote, td { max-inline-size: 100%; }

h1 {
	color: white;
	hyphenate-character: '-';
	hyphenate-limit-chars: 8 3 2;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-hyphens: auto;
	hyphens: auto;
	line-break: loose;
	overflow-wrap: break-word;
	text-shadow: 0.2rem 0.2rem 0.4rem black;
	text-wrap: balance;
	word-break: break-word;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	color: transparent;
	height: 1px;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	user-select: none;
	white-space: nowrap;
	width: 1px;
}
