#contents {
	background-image: url('../assets/images/MainSectionLogo.svg');
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 50vmin;
	height: 100%;
	text-align: right;
}
