.center-elements {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--size-4);
}

h1 {
	font-size: 3rem;
	text-align: center;
}

p {
	text-align: center;
}

.resize-image {
	width: 30%;
	border-radius: var(--size-2);
}
