.center-elements {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

h1 {
	font-size: 3rem;
	text-align: center;
}

p {
	text-align: center;
}

.resize-image {
	width: 30%;
	border-radius: 10px;
}

.button-style {
	background-color: white;
	width: 3.5rem;
	height: 2.5rem;
	border-radius: 10px;
	border: 2px solid black;
}
