#author-list {
	list-style: none;
	margin: 0 auto;
	max-width: var(--max-width);
	padding: 0;
	width: 100%;
}

#author-list li { padding: var(--size-2); }

#page-header a {
	color: var(--title-color);
	text-decoration-color: var(--tjs-red-7);
	text-shadow: var(--size-1) var(--size-1) var(--size-1) var(--gray-12);
	text-underline-offset: var(--size-2);
}

#page-header ul {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-3);
	justify-content: center;
	padding: 0;
}

#page-header li {
	list-style: none;
	padding: 0;
}
