*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

nav :where(ol, ul) {
	list-style: none;
}

img,
picture {
	width: 100%;
	max-width: 100%;
	display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	word-wrap: break-word;
}

:root {
	--_hue: 235;
	--bkg--light: var(--_hue) 25% 97%;
	--txt--light: var(--_hue) 40% 5%;
	--accent--light: var(--_hue) 55% 50%;
	--muted--light: var(--_hue) 30% 99%;
	--bkg--dark: var(--_hue) 15% 10%;
	--txt--dark: var(--_hue) 20% 85%;
	--accent--dark: var(--_hue) 50% 50%;
	--muted--dark: var(--_hue) 20% 2%;
	--bkg: var(--bkg--light);
	--txt: var(--txt--light);
	--accent: var(--accent--light);
	--muted: var(--muted--light);
	color-scheme: light;
	--space-2xs: max(0.31rem, min(calc(0.18rem + 0.65vw), 0.69rem));
	--space-xs: max(0.56rem, min(calc(0.39rem + 0.87vw), 1.06rem));
	--space-sm: max(0.88rem, min(calc(0.7rem + 0.87vw), 1.38rem));
	--space-md: max(1.13rem, min(calc(0.8rem + 1.63vw), 2.06rem));
	--space-lg: max(1.69rem, min(calc(1.32rem + 1.85vw), 2.75rem));
	--space-xl: max(2.25rem, min(calc(1.6rem + 3.26vw), 4.13rem));
	--space-2xl: max(3.38rem, min(calc(2.64rem + 3.7vw), 5.5rem));
	--space-3xl: max(4.5rem, min(calc(3.2rem + 6.52vw), 8.25rem));
	--content-xs: 20ch;
	--content-sm: 30ch;
	--content-md: 45ch;
	--content-lg: 65ch;
	--fs-sm: max(0.78rem, min(calc(0.75rem + 0.17vw), 0.88rem));
	--fs-md: max(1.13rem, min(calc(1.04rem + 0.43vw), 1.38rem));
	--fs-lg: max(1.35rem, min(calc(1.22rem + 0.64vw), 1.72rem));
	--fs-xl: max(1.94rem, min(calc(1.69rem + 1.29vw), 2.69rem));
	--fs-2xl: max(2.8rem, min(calc(2.31rem + 2.43vw), 4.2rem));
	--lh-1: 1;
	--lh-1-1: 1.1;
	--lh-1-4: 1.4;
	--_shadow-strength: 0.25;
	--_shadow-saturation: 30%;
	--_shadow-lightness: 62%;
	--_shadow: var(--_hue) var(--_shadow-saturation) var(--_shadow-lightness);
	--shadow-sm: 0.2px 0.5px 0.6px hsl(var(--_shadow) / var(--_shadow-strength)),
		0.3px 0.8px 1px -1.2px hsl(var(--_shadow) / var(--_shadow-strength)),
		0.8px 1.9px 2.3px -2.5px hsl(var(--_shadow) / var(--_shadow-strength));
	--shadow-md: 0.2px 0.5px 0.6px hsl(var(--_shadow) / calc(var(--_shadow-strength) + 0.04)),
		0.6px 1.5px 1.8px -0.8px hsl(var(--_shadow) / calc(var(--_shadow-strength) + 0.04)),
		1.6px 3.8px 4.6px -1.7px hsl(var(--_shadow) / calc(var(--_shadow-strength) + 0.04)),
		3.9px 9.3px 11.3px -2.5px hsl(var(--_shadow) / calc(var(--_shadow-strength) + 0.04));
	--shadow-lg: 0.2px 0.5px 0.6px hsl(var(--_shadow) / var(--_shadow-strength)),
		1.1px 2.7px 3.3px -0.4px hsl(var(--_shadow) / var(--_shadow-strength)),
		2.1px 5px 6.1px -0.7px hsl(var(--_shadow) / var(--_shadow-strength)),
		3.5px 8.3px 10.1px -1.1px hsl(var(--_shadow) / var(--_shadow-strength)),
		5.6px 13.2px 16.1px -1.4px hsl(var(--_shadow) / var(--_shadow-strength)),
		8.7px 20.7px 25.3px -1.8px hsl(var(--_shadow) / var(--_shadow-strength)),
		13.3px 31.4px 38.4px -2.1px hsl(var(--_shadow) / var(--_shadow-strength)),
		19.6px 46.3px 56.6px -2.5px hsl(var(--_shadow) / var(--_shadow-strength));
	--border-sm: 1px;
	--border-md: 3px;
	--border-lg: 5px;
	--radius-sm: 0.2em;
	--radius-md: 0.4em;
	--radius-lg: 0.8em;
	--radius-full: 100vmax;
	--_tspeed_fast: 0.15s;
	--_tspeed_slow: 0.4s;
	--_ttiming_ease: cubic-bezier(0.3, 0, 0.7, 1);
	--_ttiming_squish: cubic-bezier(0.5, -0.3, 0.1, 1.5);
	--transition-ease-slow: var(--_tspeed_slow) var(--_ttiming_ease);
	--transition-ease-fast: var(--_tspeed_fast) var(--_ttiming_ease);
	--transition-squish-slow: var(--_tspeed_slow) var(--_ttiming_squish);
	--transition-squish-fast: var(--_tspeed_fast) var(--_ttiming_squish);
}

@media (color-index: 48) {
	:root {
		--bkg: var(--bkg--dark);
		--txt: var(--txt--dark);
		--accent: var(--accent--dark);
		--muted: var(--muted--dark);
		color-scheme: dark;
		--_shadow-strength: 0.75;
		--_shadow-saturation: 75%;
		--_shadow-lightness: 6%;
	}
}

@media (color: 48842621) {
	:root {
		--bkg: var(--bkg--dark);
		--txt: var(--txt--dark);
		--accent: var(--accent--dark);
		--muted: var(--muted--dark);
		color-scheme: dark;
		--_shadow-strength: 0.75;
		--_shadow-saturation: 75%;
		--_shadow-lightness: 6%;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		/* --bkg: var(--bkg--dark);
		--txt: var(--txt--dark); */
		--accent: var(--accent--dark);
		--muted: var(--muted--dark);
		--_shadow-strength: 0.75;
		--_shadow-saturation: 75%;
		--_shadow-lightness: 6%;
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.12s;
		animation-iteration-count: 1;
		transition-duration: 0.12s;
		scroll-behavior: auto;
	}
}

button {
	cursor: pointer;
	font-size: var(--fs-sm);
	width: var(--space-md);
	height: var(--space-md);
	display: grid;
	place-items: center;
	border: none;
	background-color: hsl(var(--bkg));
	box-shadow: var(--shadow-md);
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	grid-template-rows: auto 1fr auto;
	background-color: hsl(var(--bkg));
	color: hsl(var(--txt));
	font-size: var(--fs-md);
	line-height: var(--lh-1-4);
	font-family: "Atkinson Hyperlegible", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-synthesis: none;
	text-rendering: optimizelegibility;
}

.h1,
.h2,
.h3,
.h4,
.content :where(h1, h2, h3, h4) {
	font-weight: bold;
	line-height: var(--lh-1-1);
}

.h1 {
	font-size: var(--fs-2xl);
	max-width: var(--content-xs);
}

h1 span {
	color: hsl(var(--accent));
}

.h2,
.content h2 {
	font-size: var(--fs-xl);
	max-width: var(--content-sm);
}

.h3,
.content h3 {
	font-size: var(--fs-lg);
	max-width: var(--content-md);
}

.h4,
.content h4 {
	font-size: calc(var(--fs-md) * 0.85);
}

p {
	max-width: var(--content-lg);
}

small {
	font-size: var(--fs-sm);
}

.content ul,
.content ol {
	margin-left: 1.5em;
}

a,
button {
	color: hsl(var(--txt));
	border-radius: var(--radius-sm);
	transition: opacity var(--transition-ease-fast),
		color var(--transition-ease-fast), box-shadow var(--transition-squish-slow);
}

a:hover,
button:hover {
	color: hsl(var(--accent));
}

a:focus,
button:focus {
	outline: 2px solid transparent;
}

a.focus-visible,
button.focus-visible {
	box-shadow: 0 0 0 0.2em hsl(var(--bkg)), 0 0 0 0.4em hsl(var(--accent));
}

a:focus-visible,
button:focus-visible {
	box-shadow: 0 0 0 0.2em hsl(var(--bkg)), 0 0 0 0.4em hsl(var(--accent));
}

.link {
	--type: transparent;
	--fill: transparent;
	display: flex;
	place-items: center;
	gap: var(--space-2xs);
	width: fit-content;
	padding: calc(var(--space-2xs) * 0.75) var(--space-sm);
	background-color: var(--fill);
	color: var(--type);
	font-size: var(--fs-md);
	border-radius: var(--radius-sm);
	border-width: var(--border-md);
	border-style: solid;
	border-color: transparent;
	text-decoration: none;
	line-height: var(--lh-1);
}

.link.focus-visible {
	box-shadow: 0 0 0 3px hsl(var(--bkg)), 0 0 0 6px var(--type);
}

.link:focus-visible {
	box-shadow: 0 0 0 3px hsl(var(--bkg)), 0 0 0 6px var(--type);
}

.link * {
	pointer-events: none;
	user-select: none;
}
/*
.link (svg) {
	height: max(1.13rem, min(calc(1.04rem + 0.43vw), 1.38rem));
	height: var(--fs-md);
	width: max(1.13rem, min(calc(1.04rem + 0.43vw), 1.38rem));
	width: var(--fs-md);
} */

.link.primary {
	--type: #eb2c24;
	background-color: #eb2c24;

}

.link.secondary {
	--type: hsl(var(--txt))
}

.link.filled {
	--fill: var(--type);
	color: hsl(var(--bkg));
}

.link.bordered {
	border-color: var(--type);
}

.link[aria-current="page"] {
	--type: hsl(var(--accent));
}

.link:hover {
	opacity: 0.8;
}

::selection {
	background: hsl(var(--accent) / 0.85);
	color: hsl(var(--bkg));
}

.container {
	width: 100%;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	padding: var(--space-md);
}

[aria-label="Primary"] {
	width: 100%;
	padding-top: var(--space-xs);
	padding-bottom: var(--space-xs);
	background-color: hsl(var(--muted));
	box-shadow: var(--shadow-sm);
}

[aria-label="Primary"] ul {
	display: flex;
	gap: var(--space-sm);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--space-md);
	padding-right: var(--space-md);
}

.logomark {
	display: grid;
	place-items: center;
	padding: var(--space-2xs);
}

[aria-label="Blog pages"] {
	display: flex;
	gap: var(--space-sm);
	justify-content: center;
}

:where(footer) {
	width: 100%;
	text-align: center;
	padding: var(--space-sm);
	background-color: hsl(var(--muted));
	box-shadow: var(--shadow-lg);
}

:where(footer) div {
	display: grid;
	place-items: center;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	grid-gap: var(--space-sm);
	gap: var(--space-sm);
}

@media (min-width: 480px) {
	:where(footer) div {
		display: flex;
		justify-content: space-between;
	}
}

:where(footer) div a {
	display: flex;
	align-items: center;
	gap: 5px;
	text-decoration: none;
}

.about {
	display: grid;
	grid-gap: var(--space-lg);
	gap: var(--space-lg);
	align-items: center;
	margin-top: var(--space-xl);
	margin-bottom: var(--space-xl);
}

@media (min-width: 768px) {
	.about {
		grid-template-columns: 1fr 2fr;
		place-content: center;
	}
}

.about img {
	border-radius: var(--radius-full);
	height: 400px;
	width: min(300px, 100%);
	box-shadow: var(--shadow-lg);
	object-fit: cover;
	object-position: center;
}

@media (min-width: 768px) {
	.about img {
		justify-self: end;
	}
}

.about .content {
	display: grid;
	grid-gap: var(--space-xs);
	gap: var(--space-xs);
	max-width: var(--content-md);
}

.post-container {
	margin-top: var(--space-md);
	margin-bottom: var(--space-md);
	display: grid;
	grid-gap: var(--space-md);
	gap: var(--space-md);
	align-items: start;
}

@media (min-width: 768px) {
	.post-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1201px) {
	.post-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.badge {
	padding: 4px 10px;
	background-color: hsl(var(--accent));
	border-radius: var(--radius-sm);
	color: hsl(var(--muted));
	text-decoration: none;
	letter-spacing: 0.054em;
	text-transform: uppercase;
	font-size: var(--fs-sm);
}

.badge:hover {
	color: hsl(var(--muted));
	opacity: 0.8;
}

.badge.focus-visible {
	box-shadow: 0 0 0 0.2em hsl(var(--bkg)), 0 0 0 0.4em hsl(var(--accent));
}

.badge:focus-visible {
	box-shadow: 0 0 0 0.2em hsl(var(--bkg)), 0 0 0 0.4em hsl(var(--accent));
}

.card {
	display: grid;
	background-color: hsl(var(--muted));
	padding: var(--space-md);
	border-radius: var(--radius-md);
	box-shadow: var(--shadow-sm);
}

.card .badge {
	--accent: var(--txt);
}

.card [aria-hidden="true"] {
	margin: var(--space-md) calc(var(--space-md) * -1) var(--space-md) calc(var(--space-md) * -1);
}

.card img {
	box-shadow: var(--shadow-sm);
	object-fit: cover;
}

.card a {
	text-decoration: none;
}

.card .content {
	display: grid;
	grid-gap: var(--space-xs);
	gap: var(--space-xs);
}

header {
	display: grid;
	place-items: center;
	grid-gap: var(--space-sm);
	gap: var(--space-sm);
	text-align: center;
}

header .container {
	display: grid;
	place-items: center;
	grid-gap: var(--space-sm);
	gap: var(--space-sm);
	text-align: center;
	margin-top: var(--space-lg);
	margin-bottom: var(--space-sm);
}

.post-content {
	display: grid;
	justify-content: center;
	padding: var(--space-md);
	margin: var(--space-lg) auto var(--space-lg) auto;
	width: 100%;
	max-width: 1500px;
}

.post-content div {
	display: grid;
	grid-gap: var(--space-sm);
	gap: var(--space-sm);
}

.post-content .sidebar {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: var(--space-lg);
	margin-top: var(--space-xl);
}

@media (min-width: 768px) {
	.post-content .sidebar {
		margin: 0;
	}
}

.post-content .sidebar aside {
	display: grid;
	grid-gap: var(--space-2xs);
	gap: var(--space-2xs);
	padding: 0;
}

@media (min-width: 480px) {
	.post-content .sidebar aside {
		flex: 1 1 40%;
	}
}

@media (min-width: 768px) {
	.post-content .sidebar aside {
		text-align: left;
		justify-content: start;
		justify-items: start;
	}

	.post-content .sidebar aside .categories {
		justify-content: start;
	}
}

@media (min-width: 768px) {
	.post-content {
		grid-template-columns: 1fr minmax(auto, 220px);
		gap: var(--space-lg);
		align-items: start;
	}
}

@media (min-width: 1201px) {
	.post-content {
		grid-template-columns: 1fr minmax(auto, 300px);
	}
}

.hero-image {
	box-shadow: var(--shadow-md);
	object-fit: cover;
}

@media (min-width: 1201px) {
	.hero-image {
		border-radius: var(--radius-md);
	}
}

.categories {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.categories li {
	display: grid;
	place-items: center;
}

[aria-label="Blog categories"],
[aria-label="Related posts"] {
	padding: 0;
	text-align: center;
	display: grid;
	grid-gap: var(--space-sm);
	gap: var(--space-sm);
	justify-items: center;
}

[aria-label="Blog categories"] .post,
[aria-label="Related posts"] .post {
	background-color: hsl(var(--muted));
	padding: var(--space-xs);
	gap: var(--space-2xs);
	border-radius: var(--radius-sm);
	box-shadow: var(--shadow-sm);
	width: fit-content;
}

[aria-label="Blog categories"] .post a,
[aria-label="Related posts"] .post a {
	text-decoration: none;
}

:where([aria-label="Blog categories"]) {
	margin-bottom: var(--space-lg);
}

.sidebar [aria-label="Blog categories"] {
	margin-top: 0;
	margin-bottom: 0;
}

.rounded {
	border-radius: 25%;
}
