
* {
  box-sizing: border-box;
}

.fullWidth  {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* max-inline-size is the problem here, nested style for h2 */
}

h1 {
	font-size: 3rem;
	text-align: center;
}

.spaceMain {
	display: block;
	width: 100%;
	text-align: center;
	padding: 2rem;
}

.centering {
	margin: auto;
}

.buttonStyle {
	background-color: white;
	width: 3.5rem;
	height: 2.5rem;
	border-radius: 10px;
	border: 2px solid black;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  resize: vertical;
}


.container {
  border-radius: 5px;
  border: 5px solid #ED342F;
  padding: 20px;
  width: 75%;
  margin: 0 auto;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input {
	width: 100%;
	margin-top: 20px;
}

button[type="submit"]{
	background: #ED342F;
}

button[type="submit"]:hover{
	background: #A8569A;
}
