.full-width  {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: var(--size-3)
	/* max-inline-size is the problem here, nested style for h2 */
}

h1 {
	font-size: 3rem;
	text-align: center;
}

.space-main {
	display: block;
	width: 100%;
	text-align: center;
	padding: 2rem;
}

.center-text {
	margin: auto;
}

#report-form {
  border-radius: var(--size-1);
  border: var(--size-1) solid #ED342F;
  padding: 20px;
  width: 75%;
  margin: 0 auto;
}

#report-form :is(input, textarea) {
  width: 100%;
  padding: var(--size-2);
  border: var(--size-00) solid #cccccc;
  border-radius: 4px;
  resize: vertical;
}

#report-form label {
  padding: var(--size-4) var(--size-4) var(--size-4) 0;
  display: inline-block;
}

#report-form input {
	margin-block-start: 20px;
}

#report-form button[type="submit"]{
	background-color: #ED342F;
}

#report-form button[type="submit"]:hover{
	background-color: --var(--tjs-red-7);
}
