.full-width {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: var(--size-3);
	width: 100%;
	/* max-inline-size is the problem here, nested style for h2 */
}

h1 {
	font-size: 3rem;
	text-align: center;
}

.space-main {
	display: block;
	padding: 2rem;
	text-align: center;
	width: 100%;
}

.center-text { margin: auto; }

#report-form {
	border: var(--size-1) solid #ed342f;
	border-radius: var(--size-1);
	margin: 0 auto;
	padding: 20px;
	width: 75%;
}

#report-form :is(input, textarea) {
	border: var(--size-00) solid #cccccc;
	border-radius: 4px;
	padding: var(--size-2);
	resize: vertical;
	width: 100%;
}

#report-form label {
	display: inline-block;
	padding: var(--size-4) var(--size-4) var(--size-4) 0;
}

#report-form input { margin-block-start: 20px; }

#report-form button[type='submit'] { background-color: #ed342f; }

#report-form button[type='submit']:hover { background-color: --var(--tjs-red-7); }
