.post-card {
	border-radius: var(--size-7);
	border: var(--size-1) solid color-mix(in srgb, var(--gray-12), var(--tjs-red-6));
	box-shadow: 0 0 0.7rem var(--tjs-red-6);
	padding: var(--size-3);
	width: 75%;
	margin: 2rem auto;
	text-align: center;
	display: grid;
	grid-template-columns: 15rem 1fr;
	grid-template-rows: auto 1fr auto auto;
	grid-template-areas:
		'header header'
		'image content'
		'image read-more'
		'footer footer'
	;
	gap: var(--size-3);
}

.post-card:not(:has( picture)) {
	grid-template-columns: 1fr;
	grid-template-areas:
		'header'
		'content'
		'read-more'
		'footer'
	;
}

.post-card header { grid-area: header; }

.post-card .post-card-image {
	grid-area: image;
	overflow: hidden;
	border-radius: var(--size-7);
}

.post-card .post-card-content { grid-area: content; }

.post-card .post-card-read-more {
	grid-area: read-more;
	color: var(--tjs-red-7);
	font-weight: bold;
	text-transform: uppercase;
}

.post-card footer { grid-area: footer; }

.post-card h2 {
	margin-block-end: var(--size-3);

	hyphenate-character: '-';
	hyphenate-limit-chars: 8 3 2;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-hyphens: auto;
	hyphens: auto;
	line-break: loose;
	overflow-wrap: break-word;
	text-wrap: balance;
	word-break: break-word;
}

.post-card h2 a {
	color: var(--tjs-red-6);
	text-shadow: var(--size-1) var(--size-1) var(--size-1) var(--gray-12);
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 800px) {
	.post-card {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto auto auto;
		grid-template-areas:
			'header'
			'image'
			'content'
			'read-more'
			'footer'
		;
	}
}
