.post-card {
	--image-size: var(--size-content-1);

	display: grid;
	grid-template-areas:
		'header header'
		'picture content'
		'picture read-more'
		'footer footer';
	grid-template-columns: var(--image-size) 1fr;
	grid-template-rows: auto 1fr auto auto;
	gap: var(--size-2);

	margin-block-end: var(--size-4);
	padding-inline: var(--size-2);
	padding-block: var(--size-1);

	background-color: var(--gray-2);
	border: var(--theme-color) solid var(--size-1);
	border-radius: var(--size-4);
	outline: var(--gray-10) solid var(--size-1);
}

.post-card:last-of-type { margin-block-end: 0; }

.post-card:not(:has( picture)) {
	grid-template-areas:
		'header'
		'content'
		'read-more'
		'footer';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto auto;
}

.post-card header { grid-area: header; }
.post-card h2 { margin: 0; }
.post-card time { font-size: small; }

.post-card picture {
	grid-area: picture;
	place-self: center center;

	overflow: hidden;

	width: var(--image-size);
	aspect-ratio: var(--ratio-square);
	object-fit: cover;
	object-position: center;

	display: block;
}

.post-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.post-card .post-card-content { grid-area: content; }
.post-card .read-more-link { grid-area: read-more; }
.post-card footer { grid-area: footer; }

@media (max-width: 500px) {
	.post-card {
		grid-template-areas:
			'header'
			'picture'
			'content'
			'read-more'
			'footer';
		grid-template-columns: 1fr;
		grid-template-rows: auto var(--image-size) 1fr auto;
	}
}

@media (prefers-color-scheme: dark) {
	.post-card {
		background-color: var(--gray-10);
		outline-color: var(--gray-2);
	}
}
