@import url('./variables.css');

:not(:defined) { display: none; }

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;

	font-family: system-ui, sans-serif;
	font-size: var(--body-text);
	font-weight: normal;

	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
}

*, *::after, *::before {
	box-sizing: inherit;
	font-family: inherit;
}

*:has(> svg) {
	display: inline-flex;
	align-items: center;
	gap: 0.3em;
	overflow-wrap: break-word;
	word-break: break-word;
}

*:has(> svg) svg {
	min-width: 1em;
	min-height: 1em;
}


img, picture {
	width: 100%;
	max-width: 100%;
	display: block;
}

main {
	flex-grow: 1;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: "";
	width: 100%;
}

iframe {
	border: none;
	display: block;
	margin-inline: auto;
	width: 100%;
	height: auto;
	max-height: 100%;
	aspect-ratio: 3 / 2;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	opacity: 0;
	pointer-events: none;
	z-index: calc(infinity * -1);
}
