---
	import { Image } from 'astro:assets';
import cnTower from '../../assets/images/cnTowerMain.png';
import './styles.css';
---


	<div>
		<h1>Welcome to the TorontoJS Blog!</h1>

		<div class="bgMain">
			<Image src={cnTower} alt="line drawing of the cn tower" />
		</div>
	</div>
