---
	import { Image } from 'astro:assets';
import cnTower from '../../assets/images/cnTowerMain.png';
---


	<div>
		<h1>Welcome to the TorontoJS Blog!</h1>

		<div class="bg-white w-[50%] border-double ">
			<Image src={cnTower} alt="line drawing of the cn tower" />
		</div>
	</div>


<!-- .intro-desc{
    background: rgb(255, 162, 111);
    display: block;
    width: 50%;
    margin: 50px auto;
    border-radius: 20px;
    border: 2px solid black;
} -->
