#page-header {
	width: auto;
	margin: 1.25rem auto;
	padding: 0 1rem;
	text-align: center;

	@media (min-width: 1024px) {
    .desktop\:px-9 {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
		font-size: 2rem;
		font-weight: 300;
    }
}

}
