#page-header {
	display: grid;
	gap: var(--size-3);
	grid-template-areas:
		'picture title'
		'picture aside';
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	margin: 1.25rem auto;
	padding: 0 1rem;
	text-align: center;
	width: auto;
}

#page-header > *:not(h1):not(aside) { grid-area: picture; }
#page-header > h1 { grid-area: title; }
#page-header > aside { grid-area: aside; }

#page-header:has(> h1:first-child) {
	grid-template-areas:
		'title'
		'aside';
	grid-template-columns: auto;
	grid-template-rows: auto auto;
}

@media (max-width: 550px) {
	#page-header {
		grid-template-areas:
			'picture'
			'title'
			'aside';
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
	}
}
