---
import InternalPageLayout from '../layouts/InternalPage/index.astro';

const BLOG_URL = Astro.site?.href;

import '../styles/404.css';

---
<InternalPageLayout
	htmlTitle={['Offline', 'TorontoJS Blog']}
	title="Offline Page"
	url={`${BLOG_URL}404`}
	description="Offline page for the TorontoJS blog. If you are offline, you can still navigate the site, but some content might not be available."
	tags={['development', 'javascript', 'toronto', 'community', 'blog']}
>
	<Fragment slot="header">404 - Not found</Fragment>

	<div>
		<p>Welp, this is awkward!</p>
		<p>We seem to have misplaced something</p>

		<p>
			<a href={BLOG_URL}>Go back to the blog home</a>
		</p>
	</div>
</InternalPageLayout>
