---
import SiteNav from '../components/SiteNav/index.astro';
import SkipToContent from '../components/SkipToContent/index.astro';
import BaseLayout from '../layouts/Base/index.astro';

const BLOG_URL = Astro.site?.href;

---
<BaseLayout
	htmlTitle={['404', 'Toronto JS Blog']}
	title="404 - Not found"
	url={`${BLOG_URL}404`}
	description="404 - Not found"
	tags={['development', 'javascript', 'toronto', 'community', 'blog']}
>
	<SkipToContent slot="header" />
	<header slot="header">
		<SiteNav />
		<h1>404 - Not found</h1>
	</header>

	<div id="contents">
		<p>Welpm this is awkward!</p>
		<p>We seem to have misplaced something</p>

		<p>
			<a href={BLOG_URL}>Go back to the blog home</a>
		</p>
	</div>
</BaseLayout>
