---
import SiteNav from '../components/SiteNav/index.astro';
import SkipToContent from '../components/SkipToContent/index.astro';
import BaseLayout from '../layouts/Base.astro';
import '../styles/about.css';
import '../styles/global.css';

const BLOG_URL = Astro.site?.href;

import { Image } from 'astro:assets';
import logo from '../assets/images/logo.png';

---
<BaseLayout
	htmlTitle={['Offline', 'Toronto JS Blog']}
	title="Offline Page"
	url={`${BLOG_URL}404`}
	description="Offline page for the Toronto JS blog. If you are offline, you can still navigate the site, but some content might not be available."
	tags={['development', 'javascript', 'toronto', 'community', 'blog']}
>
	<SkipToContent slot="header" />
	<header slot="header">
		<SiteNav />
		<h1 class="centerElements">TorontoJS Blog</h1>
	</header>

	<main>
		<div class="centerElements">
	<Image src={logo} alt="Toronto JS Logo" class="resizeImage" />
		</div>
	<div id="contents">
		<p class="font-bold text-mainRed">
			You may be asking.....what is all of this? We aren't really sure frankly, if we are being honest with you...

			What we do know though, is that this is a place for ideas, words, creations, community and hopefully......expansion, building, friendship, structure!
  </p>
		<footer class="flex place-content-center p-5">
			<a href={BLOG_URL} class="buttonStyle text-xs content-center text-black font-bold p-2.5">Home</a>
		</footer>
	</div>
	</main>
</BaseLayout>
