---
import SiteNav from '../components/SiteNav/index.astro';
import SkipToContent from '../components/SkipToContent/index.astro';
import BaseLayout from '../layouts/Base/index.astro';
import '../styles/about.css';
const BLOG_URL = Astro.site?.href;

import { Image } from 'astro:assets';
import logo from '../assets/icons/logo.svg';
---

<BaseLayout
	htmlTitle={['About', 'TorontoJS Blog']}
	title="About TorontoJS Blog"
	url={`${BLOG_URL}about`}
	description="About the TorontoJS blog."
	tags={['development', 'javascript', 'toronto', 'community', 'blog']}
>
	<SkipToContent slot="header" />
	<header slot="header">
		<SiteNav />
		<h1>About the Blog!:)</h1>
	</header>
	<div class="center-elements">
		<Image src={logo} alt="TorontoJS Logo" class="resize-image" />
	</div>
	<div id="contents" class="center-elements">
		<p>
			You may be asking.....what is all of this? We aren't really sure frankly, if we are being honest with you... What we do know though, is that this is a place for ideas,
			words, creations, community......expansion, building, friendship, structure! We hope you will stay along for the ride!
		</p>
	</div>

	<!-- add an email subscription function here? -->
</BaseLayout>
