---
import SiteNav from '../components/SiteNav/index.astro';
import SkipToContent from '../components/SkipToContent/index.astro';
import BaseLayout from '../layouts/Base/index.astro';
import '../styles/about.css';
const BLOG_URL = Astro.site?.href;

import { Image } from 'astro:assets';
import logo from '../assets/images/logo.png';
---

<BaseLayout
	htmlTitle={['About', 'Toronto JS Blog']}
	title="About Toronto JS Blog"
	url={`${BLOG_URL}about`}
	description="About the Toronto JS blog."
	tags={['development', 'javascript', 'toronto', 'community', 'blog']}
>
	<SkipToContent slot="header" />
	<header slot="header">
		<SiteNav />
		<div class="centerElements">
			<h1>TorontoJS Blog</h1>
		</div>

	</header>
		<div class="centerElements">
			<Image src={logo} alt="Toronto JS Logo" class="resizeImage" />
		</div>
		<div id="contents" class="centerElements">
			<p class="font-bold text-mainRed">
				You may be asking.....what is all of this? We aren't really sure
				frankly, if we are being honest with you... What we do know
				though, is that this is a place for ideas, words, creations,
				community and hopefully......expansion, building, friendship,
				structure!
			</p>
		</div>
</BaseLayout>
