---
import InternalPageLayout from '../layouts/InternalPage.astro';

const BLOG_URL = Astro.site?.href;
---

<InternalPageLayout
	htmlTitle={['Accessibility Statement', 'Toronto JS Blog']}
	title="Accessibility Statement"
	description="Accessibility Statement for Toronto JS blog."
	url={`${BLOG_URL}accessibility`}
	tags={[
		'accessibility',
		'a11y',
		'development',
		'javascript',
		'toronto',
		'community',
		'blog'
	]}
>
	<Fragment slot="header">Accessibility Statement</Fragment>

	<p>This site is made for people. As such we try our best to be AA compliant with <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> and by doing that, try to make the web more accessible and inclusive.</p>

	<p>That said, we are not perfect and by being a volunteer run community, we are always improving the website.</p>
	<p>We run automated testing for accessibility issues regularly, as well as testing on desktop and mobile browsers with different zoom levels.</p>

	<p>If you have any issues with the site, please contact us at <em><a href="mailto:volunteers@torontojs.com">volunteers@torontojs.com</a></em>.</p>

	<p>Feel free to submit a proposal at <a href="https://github.com/torontojs/proposals">on GitHub</a>.</p>
</InternalPageLayout>
