---
import SiteNav from '../components/SiteNav/index.astro';
import SkipToContent from '../components/SkipToContent/index.astro';
import BaseLayout from '../layouts/Base/index.astro';
import '../styles/about.css';
const BLOG_URL = Astro.site?.href;

---
<BaseLayout
	htmlTitle={['About', 'TorontoJS Blog']}
	title="About TorontoJS Blog"
	url={`${BLOG_URL}about`}
	description="About the TorontoJS blog."
	tags={['development', 'javascript', 'toronto', 'community', 'blog']}
>
	<SkipToContent slot="header" />
	<header slot="header">
		<SiteNav />
		<h1 class="centerElements">Code of Conduct</h1>
	</header>
		<div id="contents">
			<p class="centerElements">This Code of Conduct is from the<a href="https://torontojs.com/code_of_conduct" target="_blank">TorontoJS Website!</a></p>
		</div>
</BaseLayout>
