---
import SiteNav from '../components/SiteNav/index.astro';
import SkipToContent from '../components/SkipToContent/index.astro';
import BaseLayout from '../layouts/Base/index.astro';
import '../styles/about.css';
const BLOG_URL = Astro.site?.href;
---
<BaseLayout
	htmlTitle={['Code of Conduct', 'TorontoJS Blog']}
	title="Code of Conduct TorontoJS Blog"
	url={`${BLOG_URL}codeofc`}
	description="Our Code of Conduct for TorontoJs."
	tags={['development', 'javascript', 'toronto', 'community', 'blog']}
>
	<SkipToContent slot="header" />
	<header slot="header">
		<SiteNav />
		<h1 class="center-elements">Code of Conduct</h1>
	</header>
	<div id="contents">
		<p class="center-text">
			Here is our <a href="https://torontojs.com/code_of_conduct" target="_blank">Code Of Conduct.</a>
		</p>
	</div>
</BaseLayout>
