---
import HomeMain from '../components/HomeMain/index.astro';
import SiteNav from '../components/SiteNav/index.astro';
import SkipToContent from '../components/SkipToContent/index.astro';
import BaseLayout from '../layouts/Base/index.astro';
const BLOG_URL = Astro.site?.href;
---
<BaseLayout
	htmlTitle={['Home Page', 'Toronto JS Blog']}
	title="Home Page"
	url={BLOG_URL ?? ''}
	description="Offline page for the Toronto JS blog. If you are offline, you can still navigate the site, but some content might not be available."
	tags={['development', 'javascript', 'toronto', 'community', 'blog']}
>
	<SkipToContent slot="header" />
	<header slot="header">
		<SiteNav />
	</header>

	<HomeMain />

	<!-- <div id="contents">
	</div> -->
</BaseLayout>
