---
import SiteNav from '../components/SiteNav/index.astro';
import SkipToContent from '../components/SkipToContent/index.astro';
import BaseLayout from '../layouts/Base/index.astro';
import '../styles/report.css';
const BLOG_URL = Astro.site?.href;
---
<BaseLayout
	htmlTitle={['Report', 'TorontoJS Blog']}
	title="Report TorontoJS Blog"
	url={`${BLOG_URL}report`}
	description="Submitting a report to TorontoJS."
	tags={['development', 'javascript', 'toronto', 'community', 'blog']}
>
	<SkipToContent slot="header" />
	<header slot="header">
		<SiteNav />
		<div class="full-width">
			<h1>Report Violation</h1>
		</div>
	</header>

	<div>
		<div class="space-main">
			<p class="center-text">
				Did you experience something questionable at a TorontoJS event, or on our discussion channels? Feel free to direct others to our <a
					href="https://torontojs.com/code_of_conduct"
					target="_blank"
				>Code Of Conduct.</a>
			</p>
			<p class="center-text">Our organizers, moderators and volunteers want to maintain a welcoming environment free of abuse, harassment, or discrimination.</p>
		</div>

		<div class="space-main">
			<p class="center-text">
				Submit a <a href="https://torontojs.com/report" target="_blank"> report </a>here.
			</p>
		</div>

		<!-- save for after going live? -->

		<!-- <div class="space-main">
				<h3 class="center-text">Please provide the following information:</h3>
					 <p class="center-text">
					the time and place the harassment took place, the member(s) involved in the violation, any surrounding details you think are relevant to the report.
					</p> -->
		<!-- </div> -->
		<!-- </div>  -->

		<!-- <div id="report-form">
			<form>
				<label for="name">
					Name:
				</label>
					<input id="name" />
				<label for="email">
					Email: (required)
				</label>
					<input type="email" id="email" required />
				<label for="comment">
					Explain what happened: (required)
				</label>
					<textarea name="comment" id="comment" required></textarea>
					<button type="submit" value="submit">Submit</button>
			</form> -->
	</div>
</BaseLayout>
