---
import SiteNav from '../components/SiteNav/index.astro';
import SkipToContent from '../components/SkipToContent/index.astro';
import BaseLayout from '../layouts/Base/index.astro';
import '../styles/report.css';
const BLOG_URL = Astro.site?.href;

---


<BaseLayout
	htmlTitle={['Report', 'Toronto JS Blog']}
	title="Report Toronto JS Blog"
	url={`${BLOG_URL}report`}
	description="Submitting a report to TorontoJS."
	tags={['development', 'javascript', 'toronto', 'community', 'blog']}
>
	<SkipToContent slot="header" />
	<header slot="header">
		<SiteNav />
		<div class="centerElements">
			<h2>REPORT A VIOLATION (with or without your name)</h2>
		</div>

		<div>
			<p>Did you experience something awry or questionable at a Toronto JS event, or on our discussion channels? Feel free to direct others to our Code Of Conduct.</p>
			<p>Our organizers, moderators and volunteers want to maintain a welcoming environment free of abuse, harassment, or discrimination.</p>

			<p>
				Please provide the following information:
				<ul>
					<li>the time and place the harassment took place</li>
					<li>the member(s) involved in the event</li>
					<li>any surrounding details you think are relevant to the report</li>
				</ul>
			</p>
		</div>
	</header>

</BaseLayout>
