---
import { Icon } from 'astro-icon/components';

import './styles.css';
---
<nav id="bottom-nav" aria-label="Secondary Navigation">
	<ul>
		<li>
			<a href="https://torontojs.com/">
				<Icon name="tjs" title="Toronto JS&apos; Logo" />
				Toronto JS Home
			</a>
		</li>
		<li>
			<a href="https://join.slack.com/t/torontojs/shared_invite/zt-zgi31snl-omO3tXSZ0Q7zqN9WBQSf8Q">
				<Icon name="uil:slack" title="Slack&apos;s Logo" />
				Join Us on Slack
			</a>
		</li>
		<li>
			<a href="https://www.meetup.com/torontojs">
				<Icon name="fa6-brands:meetup" title="Meetup&apos;s Logo" />
				Join Us on Meetup
			</a>
		</li>
		<li>
			<a href="https://guild.host/torontojs">
				<Icon name="guild" title="Guild&apos;s Logo" />
				Join Us on Guild
			</a>
		</li>
		<li>
			<a href="https://github.com/torontojs/blog">
				<Icon name="uil:github" title="Github&apos;s Logo" />
				Contribute on GitHub
			</a>
		</li>
		<li>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSc_ZA0ElHLsMedjdQjZechw5H1RJNhG1DZxtFTsqhkdut3eFg/viewform?usp=sf_link">
				<Icon name="uil:comment" title="An icon of a chat bubble" />
				Give a Talk
			</a>
		</li>
		<li>
			<a href="https://torontojs.com/code_of_conduct">
				<Icon name="uil:shield-check" title="An icon of a shield with a check mark inside of it" />
				Code of Conduct
			</a>
		</li>
		<li>
			<a href="https://torontojs.com/report">
				<Icon name="uil:exclamation-triangle" title="An icon of a triangle with an exclamation mark inside of it" />
				Report Abuse
			</a>
		</li>
	</ul>
</nav>
