#bottom-nav ul {
	display: flex;
	width: 100%;
	gap: var(--size-3);
	padding: var(--size-2) var(--size-3);
	margin: 0;
	background-color: var(--tjs-red-12);
}

#bottom-nav a {
	color: var(--gray-0);
}

#bottom-nav a:visited {
	color: var(--yellow-2);
}

#bottom-nav a:hover {
	color: var(--yellow-5);
}

#bottom-nav a:focus {
	color: var(--yellow-5);
}

#bottom-nav a:active {
	color: var(--orange-3);
	outline-color: var(--orange-3);
}
