---

---

<footer>
	<small>
		Copyright &copy; <span id="copyright"></span> | All rights reserved
	</small>
</footer>

<!-- can write vanilla javascript to get it on the client and not on build -->
<script>
	document.querySelector("#copyright")!.textContent = new Date().getFullYear().toString();
</script>
