#site-nav {
	padding: var(--size-2);
	background-color: var(--tjs-dark-bg);
	font-weight: bold;
}

#site-nav ul {
	gap: var(--size-2);
	align-items: center;
	padding: var(--size-3);
}

#site-nav a { color: white; }

#logo-rounded {
	border-radius: var(--size-2);
}

@media (max-width: 500px) {
	#site-nav ul { flex-direction: column; }
}
