.user-avatar {
	--image-size: var(--size-13);
	aspect-ratio: var(--ratio-square);
	border: solid var(--title-color) var(--size-2);
	border-radius: var(--radius-round);
	box-shadow: var(--size-1) var(--size-1) var(--size-1) var(--gray-12);
	display: block;
	height: var(--image-size);
	overflow: hidden;
	width: var(--image-size);
}

.user-avatar img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

@media (max-width: 768px) { .user-avatar { --image-size: var(--size-12); } }
