---
// Component import
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import MainHead from './MainHead.astro';

// Style import
import '../styles/global.css';

const { title = 'TorontoJS Blog', description = 'Blog' } = Astro.props;
---

<html lang="en">
	<MainHead
		title={title}
		description={description}
	/>
	<body>
		<Nav />
		<main>
			<slot>Default Text</slot>
		</main>
		<Footer />
	</body>
</html>
