---
// component import
import MainHead from "./MainHead.astro";

// style import
import "../styles/global.css";
const { title = "Default title", description = "Default Description" } =
  Astro.props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body>
    <slot>Default Text</slot>
  </body>
</html>
