#bottom-nav ul {
	align-items: center;
	background-color: var(--tjs-dark-bg);
	display: flex;
	font-weight: bold;
	gap: 0.5rem;
	justify-content: center;
	margin-block-start: var(--size-4);
	padding: var(--size-2);
}

#bottom-nav .footer-items {
	align-items: center;
	display: inline-flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-left: 0.75rem;
	overflow-wrap: break-word;
}

#bottom-nav a { color: white; }
