#bottom-nav ul {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	padding: var(--size-2);
	background-color: var(--tjs-dark-bg);
	font-weight: bold;
	margin-block-start: var(--size-4);
}

#bottom-nav .footer-items{
	display: inline-flex;
	align-items: center;
	gap: 1rem;
	margin-left: 0.75rem;
	flex-wrap: wrap;
	overflow-wrap: break-word;
}

#bottom-nav a { color: white; }
